<div class="navbar">
  <p id="filter" (click)="filter()">All</p>
  <h1>Jack's Photo Gallery</h1>
  <p (click)="goToSection(1)">Before After</p>
</div>

<div class="homePage">
  <div class="homeRows">
    <img src="assets/photos/home/w16.jpeg" alt="photo" loading="lazy" class="homeImg Landscape">
    <img src="assets/photos/home/h2.jpeg" alt="photo" loading="lazy" class="homeImg Jack">
    <img src="assets/photos/home/w6.jpeg" alt="photo" loading="lazy" class="homeImg Other">
    <img src="assets/photos/home/h6.jpeg" alt="photo" loading="lazy" class="homeImg Jack">
    <img src="assets/photos/home/w19.jpeg" alt="photo" loading="lazy" class="homeImg Flowers">
  </div>
  <div class="homeRows">
    <img src="assets/photos/home/w5.jpeg" alt="photo" loading="lazy" class="homeImg Other">
    <img src="assets/photos/home/h1.jpeg" alt="photo" loading="lazy" class="homeImg Jack">
    <img src="assets/photos/home/w25.jpg" alt="photo" loading="lazy" class="homeImg Landscape">
    <img src="assets/photos/home/h5.jpeg" alt="photo" loading="lazy" class="homeImg Landscape">
  </div>
  <div class="homeRows">
    <img src="assets/photos/home/h3.jpg" alt="photo" loading="lazy" class="homeImg Jack">
    <img src="assets/photos/home/w2.jpg" alt="photo" loading="lazy" class="homeImg Other">
    <img src="assets/photos/home/w12.jpeg" alt="photo" loading="lazy" class="homeImg Landscape">
    <img src="assets/photos/home/w3.png" alt="photo" loading="lazy" class="homeImg Flowers">
    <img src="assets/photos/home/w24.jpg" alt="photo" loading="lazy" class="homeImg Jack">
  </div>
  <div class="homeRows">
    <img src="assets/photos/home/w17.jpeg" alt="photo" loading="lazy" class="homeImg Landscape">
    <img src="assets/photos/home/h4.jpeg" alt="photo" loading="lazy" class="homeImg Jack">
    <img src="assets/photos/home/w8.jpg" alt="photo" loading="lazy" class="homeImg Other">
    <img src="assets/photos/home/h7.jpg" alt="photo" loading="lazy" class="homeImg Jack">
    <img src="assets/photos/home/w18.jpeg" alt="photo" loading="lazy" class="homeImg Flowers">
  </div>
</div>

<!-- 
  h1-h2-h3-h4-h5-h6-h7
  w2-w3-w5-w6-w8-w12-w16-w17-w18-w19-w24-w25
 -->

<div style="margin-bottom: 100px;" id="beforeAfterSection">
  <div class="sectionTitle">
    <hr>
    <h1>Before and After</h1>
    <hr>
  </div>
  <div class="beforeAfter">
    <img-comparison-slider class="slider-example-opacity-and-size">
      <img slot="first" src="assets/photos/beforeafter/a1.jpg" />
      <img slot="second" src="assets/photos/beforeafter/b1.jpg" />
    </img-comparison-slider>
    <img-comparison-slider class="slider-example-opacity-and-size">
      <img slot="first" src="assets/photos/beforeafter/a2.jpeg" />
      <img slot="second" src="assets/photos/beforeafter/b2.jpg" />
    </img-comparison-slider>
  </div>
</div>

<!-- FAB -->
<div style="position: fixed; bottom: 10px; right: 10px;" id="fab" *ngIf="showFab" (click)="goToSection(0)">
  <div class="fab">
    <img src="assets/icons/up-arrow.svg" alt="Up">
  </div>
</div>
<!-- FAB -->